<div class="main">
    <div class="container">
        <div class="row align-items-center justify-content-start">
          <div class="col-12 align-items-center mt-4">
            <h4>Criar Coleção</h4>
            </div>
        </div>
        
        <div class="row align-items-center justify-content-center mt-4">
            <div class="col-12">
                <app-card-listagem>

                    <form slot="titulo" class="p-3" [formGroup]="formCriaColecao" (ngSubmit)="criarColecao()">
                        <div class="row p-2">
                            <div class="col-6">
                                <div class="form-floating mb-4">
                                    <input type="text" class="form-control" id="nomeColecao" placeholder="Nome" formControlName="nomeColecao">
                                    <label for="nomeColecao" class="text-black-50">Nome da Coleção</label>
                                </div>
                             </div>
                             <div class="col-6">
                                <div class="form-floating mb-4">
                                    <input type="text" class="form-control " id="responsavel" placeholder="Responsável" formControlName="responsavel">
                                    <label for="responsavel" class="text-black-50">Responsável pela coleção</label>
                                </div>
                             </div>    
                        </div>
                        <div class="row p-2">
                            <div class="col-6">
                                <div class="form-floating mb-4">
                                    <input type="text" class="form-control" id="estacao" placeholder="Estação" formControlName="estacao">
                                    <label for="estacao" class="text-black-50">Para qual estação?</label>
                                </div>
                             </div>
                             <div class="col-6">
                                <div class="form-floating mb-4">
                                    <input type="text" class="form-control" id="marca" placeholder="Marca" formControlName="marca">
                                    <label for="marca" class="text-black-50">Para qual marca você está criando?</label>
                                </div>
                             </div>    
                        </div>
                        <div class="row p-2">
                            <div class="col-6">
                                <div class="form-floating mb-4">
                                    <input type="number" class="form-control" id="orcamento" placeholder="Orçamento" formControlName="orcamento">
                                    <label for="orcamento" class="text-black-50">Qual é o orçamento desta coleção?</label>
                                </div>
                             </div>
                             <div class="col-6">
                                <div class="form-floating mb-4">
                                    <input type="number" class="form-control" id="ano" placeholder="Ano" formControlName="ano">
                                    <label for="ano" class="text-black-50">Ano de Lançamento</label>
                                </div>
                             </div>    
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <img class="mb-5 mt-2 rounded mx-auto d-block" src="../../../assets/images/image 1.png" alt="produto" width="312" height="230">
                            </div>
                        </div>

                        <div class="row p-2">
                            <div class="col-3"> 
                            </div>
                            <div class="col-3"> 
                            </div>
                            <div class="col-3"> 
                                <button class="btn btn-lg w-100 custom-btn-cancelar" type="submit">Cancelar</button>
                            </div>
                            <div class="col-3"> 
                                <button class="btn btn-lg btn-primary w-100" type="submit">Salvar</button>
                            </div> 
                        </div>
                        
                    </form>
                    
                </app-card-listagem>
            </div>
          </div>
      </div>
</div>
