 <div class="container p-5">
    <div class="row g-0 d-flex justify-content-center align-items-center">
      <div class="col-12 col-md-8 col-lg-8 col-xl-4 text-center">
       <img class="mb-4 rounded mx-auto d-block" src="../../../assets/images/AudacesLogo.png" alt="audaces" width="36" height="36">
        <div class="card border-light" style="border-radius: 8px;">
          <div class="card-body p-4 text-center">
            
              <ng-content select="[slot='header']"></ng-content>

              <div class="form-outline form-white mb-4">
               <ng-content select="[slot='body']"></ng-content>
              </div>

          </div>
        </div>
        <div class="mt-4">
          <ng-content select="[slot='footer']"></ng-content>
        </div>
      </div>
    </div>
  </div>


