<header class="shadow-sm p-4 mb-1 bg-white">
  <div class="d-flex flex-wrap align-items-center justify-content-end justify-content-lg-end" style="width: 100%;">
    <div class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3 ">
      <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor"
        class="bi bi-bell-fill text-secondary" viewBox="0 0 16 16">
        <path
          d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z" />
      </svg>
    </div>
    <div ngbDropdown class="d-inline-block">
      <div ngbDropdownToggle class="d-block link-secondary text-decoration-none dropdown-toggle">
        <img
          src="https://thumbs.dreamstime.com/b/%C3%ADcone-do-usu%C3%A1rio-silhueta-branca-no-fundo-quadrado-azul-114279931.jpg"
          alt="mdo" width="32" height="32" data-bs-toggle="dropdown" aria-expanded="false"
          class="border border-light rounded">
      </div>

      <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="p-2">
        <button ngbDropdownItem>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill"
            viewBox="0 0 16 16">
            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
          </svg>
          Conta</button>
        <hr class="dropdown-divider">
        <button ngbDropdownItem>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-gear-fill"
            viewBox="0 0 16 16">
            <path
              d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z" />
          </svg>
          Configurações</button>

        <hr class="dropdown-divider">
        <button ngbDropdownItem (click)="logout()">
          <img src="../../../assets/images/Logout.png" alt="audaces" width="18" height="18">
          Sair</button>
      </div>
    </div>
  </div>
</header>