<div class="main">
    <div class="container">
        <div class="row align-items-center justify-content-start">
          <div class="col-6 align-items-center mt-4">
            <h4>Coleções</h4>
            </div>
            <div class="col-6 align-items-center mt-4 ">
                <button class="btn btn-small btn-primary" type="submit">Criar Coleção</button>
            </div>
        </div>
        
        <div class="row align-items-center justify-content-center mt-3">
            <div class="col-12">
                <app-card-dashboard></app-card-dashboard>
            </div>
          </div>
      </div>
</div>
