<div class="main">
    <div class="container">
        <div class="row align-items-center justify-content-start">
          <div class="col-12 align-items-center mt-4">
            <h4>
                <div *ngIf="modeloID === null; else templateName">
                    Criar Modelo
                </div>
                <ng-template #templateName>
                    Editar Modelo
                </ng-template>
            </h4>
            </div>
        </div>
        
        <div class="row align-items-center justify-content-center mt-4">
            <div class="col-12">
                <app-card-listagem>

                    <form slot="titulo" class="p-3" [formGroup]="formCriaModelo" (ngSubmit)="criarModelo()">
                        <div class="row p-2">
                            <div class="col-6">
                                <div class="form-floating mb-4">
                                    <input type="text" class="form-control" id="nomeModelo" placeholder="Nome" formControlName="nomeModelo">
                                    <label for="nomeModelo" class="text-black-50">Nome do Modelo</label>
                                </div>
                             </div>
                             <div class="col-6">
                                <div class="form-floating mb-4">
                                    <select class="form-select" id="tipoModelo" arial-label="Floating label select example" placeholder="Tipo Modelo" formControlName="tipoModelo">
                                        <option value="bermuda">Bermuda</option>
                                        <option value="biquini">Biquini</option>
                                        <option value="bolsa">Bolsa</option>
                                        <option value="bone">Boné</option>
                                        <option value="calca">Calça</option>
                                        <option value="calcados">Calçados</option>
                                        <option value="camisa">Camisa</option>
                                        <option value="chapeu">Chapéu</option>
                                        <option value="saia">Saia</option>
                                    </select>
                                    <label for="tipoModelo" class="text-black-25">Tipo do Modelo</label>
                                </div>
                             </div>    
                        </div>
                        <div class="row p-2">
                            <div class="col-6">
                                <div class="form-floating mb-4">
                                    <select class="form-select" id="idColecao" arial-label="Floating label select example" placeholder="Id Colecao" formControlName="idColecao">
                                        <option *ngFor="let colecao of colecoes" value="{{colecao.id}}">{{colecao.nomeColecao}}</option>
                                    </select>
                                    <label for="idColecao" class="text-black-25">Selecionar coleção</label>
                                </div>
                             </div>
                             <div class="col-6">
                                <div class="form-floating mb-4">
                                    <input type="text" class="form-control" id="responsavel" placeholder="Marca" formControlName="responsavel">
                                    <label for="responsavel" class="text-black-50">Responsável pelo modelo</label>
                                </div>
                             </div>    
                        </div>
                        <div class="row p-2"> 
                            <div class="col-6">
                                <label class="text-black-50">Possui bordado?</label>
                                <div class="form-floating mb-4 mt-3">                                   
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="possuiBordado" id="possuiBordadoS" value="sim" formControlName="possuiBordado">
                                        <label class="form-check-label text-black-50" for="possuiBordadoS">Sim</label>
                                      </div>
                                      <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="possuiBordado" id="possuiBordadoN" value="não" formControlName="possuiBordado">
                                        <label class="form-check-label text-black-50" for="possuiBordadoN">Não</label>
                                      </div>                                   
                                </div>
                             </div>
                             <div class="col-6">
                                <label class="text-black-50">Possui Estampa?</label>
                                <div class="form-floating mb-4 mt-3">                                   
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="possuiEstampa" id="possuiEstampaS" value="sim" formControlName="possuiEstampa">
                                        <label class="form-check-label text-black-50" for="possuiEstampaS">Sim</label>
                                      </div>
                                      <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="possuiEstampa" id="possuiEstampaN" value="não" formControlName="possuiEstampa">
                                        <label class="form-check-label text-black-50" for="possuiEstampaN">Não</label>
                                      </div>                                   
                                </div>
                             </div>    
                            
                        </div>
                        <!-- <div class="row">
                            <div class="col-12"> 
                            </div>
                        </div> -->
                        <div class="row p-2">
                            <div class="col-3"> 
                                <div *ngIf="modeloID !== null;">
                                    <button type="button" class="btn btn-lg btn-danger w-100" (click)="deletarModelo()">Excluir</button>
                                </div>
                            </div>
                            <div class="col-3"> 
                            </div>
                            <div class="col-3"> 
                                <button class="btn btn-lg w-100 custom-btn-cancelar" routerLink="/modelos">Cancelar</button>
                            </div>
                            <div class="col-3"> 
                                <button class="btn btn-lg btn-primary w-100" type="submit">
                                    <div *ngIf="modeloID === null; else templateName">
                                        Salvar
                                    </div>
                                    
                                    <ng-template #templateName>
                                        Atualizar
                                    </ng-template>

                                </button>
                            </div> 
                        </div>
                    </form>                    
                </app-card-listagem>
            </div>
          </div>
      </div>
</div>
