<div class="main">
    <div class="container">
        <div class="row align-items-center justify-content-start">
            <div class="col-12 align-items-center mt-4">
                <h4>
                    <div *ngIf="colecaoID === null; else templateName">Criar Coleção</div>
                    <ng-template #templateName> Editar Coleção </ng-template>
                </h4>
            </div>
        </div>

        <div class="row align-items-center justify-content-center mt-4">
            <div class="col-12">
                <app-card-listagem>
                    <form slot="titulo" class="p-3" [formGroup]="formCriaColecao" (ngSubmit)="criarColecao()">
                        <div class="row p-2 mx-2">
                            <div class="col-6">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control form-control-md" placeholder="Nome da Coleção" formControlName="nomeColecao">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control form-control-md" placeholder="Responsável pela coleção" formControlName="responsavel">
                                </div>
                            </div>
                        </div>
                        <div class="row p-2 mx-2">
                            <div class="col-6">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control form-control-md" placeholder="Para qual estação?" formControlName="estacao">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control form-control-md" placeholder="Para qual marca você está criando?" formControlName="marca">
                                </div>
                            </div>
                        </div>
                        <div class="row p-2 mx-2">
                            <div class="col-6">
                                <div class="input-group mb-3">
                                    <input type="number" class="form-control form-control-md" placeholder="Qual é o orçamento desta coleção?" formControlName="orcamento">
                                </div>                                
                            </div>
                            <div class="col-6">
                                <div class="input-group mb-3">
                                    <input type="number" class="form-control form-control-md" placeholder="Ano de Lançamento" formControlName="ano">
                                </div>  
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <img class="mb-5 mt-2 rounded mx-auto d-block" src="../../../assets/images/image 1.png"
                                    alt="produto" width="212" height="140" />
                            </div>
                        </div>

                        <div class="row mx-5 p-2">
                            <div class="col-3">
                                <div *ngIf="colecaoID !== null">
                                    <button type="button" class="btn btn-md btn-danger w-100"
                                        (click)="deletarColecao()">
                                        Excluir
                                    </button>
                                </div>
                            </div>
                            <div class="col-3"></div>
                            <div class="col-3">
                                <button class="btn btn-md w-100 custom-btn-cancelar" routerLink="/colecoes">
                                    Cancelar
                                </button>
                            </div>
                            <div class="col-3">
                                <button class="btn btn-md btn-primary w-100" type="submit">
                                    <div *ngIf="colecaoID === null; else templateName">
                                        Salvar
                                    </div>

                                    <ng-template #templateName> Atualizar </ng-template>
                                </button>
                            </div>
                        </div>
                    </form>
                </app-card-listagem>
            </div>
        </div>
    </div>
</div>