<div class="main">
    <div class="container">
        <div class="row align-items-center justify-content-start">
          <div class="col-10 align-items-center mt-4">
            <h4>Modelos</h4>
            </div>
            <div class="col-2 align-items-center mt-4 ">
                <button class="btn btn-small btn-primary" type="submit" routerLink="/criarmodelo">Criar Modelo</button>
            </div>
        </div>
        
        <div class="row align-items-center justify-content-center mt-5">
            <div class="col-12">
                <app-card-listagem>
                    <table slot="tabela" class="table table-hover">
                        <thead>
                            <tr>
                                <th>ModeloID</th>
                                <th>Nome do Modelo</th>
                                <th>Responsável</th>
                                <th>Coleção</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let modelo of modelos" (click)="editarModelo(modelo)">
                                <td>{{modelo.id}}</td>
                                <td>{{modelo.nomeModelo}}</td>
                                <td>{{modelo.responsavel}}</td>
                                <td>{{modelo.idColecao}}</td>
                            </tr>
                        </tbody>
                    </table>
                </app-card-listagem>
            </div>
          </div>
      </div>
</div>
