<div class="main">
    
    <app-box-login>

        <div slot="header">
            <h2 class="fw-bold mb-2">Redefinir Senha</h2>
            <p class="text-50 mb-5 text-black-50">Digite o e-mail associado à sua conta e enviaremos instruções para redefinir sua senha.</p>
        </div>
        <div slot="body">
            <form>
                <div class="form-floating mb-5">
                    <input type="email" class="form-control form-control-lg" id="floatingInput" placeholder="Email">
                    <label for="floatingInput" class="text-black-50">Informe seu e-mail</label>
                </div>
               
                <button class="btn btn-lg btn-primary w-100" type="submit">Enviar Recuperação</button>
            </form>
        </div>
    
    </app-box-login>
</div>