<div class="d-flex flex-column flex-shrink-0 border p-4 bg-white" style="width: 250px; height: 100%;">
    <div class="d-flex align-items-center mb-3 mb-md-0 me-md-auto" >
      <img class="bi pe-none me-1" src="../../../assets/images/AudacesLogo.png" alt="audaces" width="28" height="28">
      <span class="fs-4">Audaces</span>
    </div>
    
    <span class="nav nav-item flex-column mb-3 mt-5 text-black-50">Menu</span>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item" role="presentation">
        <a routerLink="/dashboard" routerLinkActive="active" class="nav-link">
          Dashboard
        </a>
      </li>
      <li>
        <a routerLink="/colecoes" routerLinkActive="active" class="nav-link">
          Coleções
        </a>
      </li>
      <li>
        <a routerLink="/modelos" routerLinkActive="active" class="nav-link">
          Modelos
        </a>
      </li>
      <li>
        <a  class="nav-link link-secondary">
          Obter Ajuda
        </a>
      </li>
      <li>
        <a  class="nav-link link-secondary">
          Comentários
        </a>
      </li>
    </ul>
    
  </div>