
<div class="shadow d-flex flex-column flex-shrink-0 p-4 bg-white custom-menu">
    <div class="d-flex align-items-center justify-content-center mt-3 mb-3  " >
      <img class="bi pe-none me-1" src="../../../assets/images/audacesLAB.png" alt="audaces" width="200" height="80">
      <!-- <span class="fs-4">Audaces</span> -->
    </div>
    
    <span class="nav nav-item flex-column mb-3 mt-5 text-black-50">Menu</span>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item mb-3">
        <a routerLink="/dashboard" routerLinkActive="active" class="nav-link custom-link">
          Dashboard
        </a>
      </li>
      <li class="nav-item mb-3">
        <a routerLink="/colecoes" routerLinkActive="active" class="nav-link custom-link">
          Coleções
        </a>
      </li>
      <li class="nav-item mb-3">
        <a routerLink="/modelos" routerLinkActive="active" class="nav-link custom-link">
          Modelos
        </a>
      </li>
      <li class="nav-item mb-3">
        <a  class="nav-link link-secondary">
          Obter Ajuda
        </a>
      </li>
      <li class="nav-item mb-3">
        <a  class="nav-link link-secondary">
          Comentários
        </a>
      </li>
    </ul>
    
  </div>