<div class="d-flex flex-column flex-shrink-0 border p-3 bg-white" style="width: 250px; height: 100%;">
    <div class="d-flex align-items-center mb-3 mb-md-0 me-md-auto" >
      <img class="bi pe-none me-1" src="../../../assets/images/AudacesLogo.png" alt="audaces" width="28" height="28">
      <span class="fs-4">Audaces</span>
    </div>
    
    <span class="nav nav-item flex-column mb-3 mt-5">Menu</span>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a routerLink="/dashboard" class="nav-link active" aria-current="page">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
          Dashboard
        </a>
      </li>
      <li>
        <a routerLink="/colecoes" class="nav-link link-dark">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
          Coleções
        </a>
      </li>
      <li>
        <a routerLink="/modelos" class="nav-link link-dark">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
          Modelos
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-dark">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
          Obter Ajuda
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-dark">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
          Comentários
        </a>
      </li>
    </ul>
        
  </div>