<app-box-login>
    <div slot="header">
        <h4 class="mb-2">Sign Up</h4>
        <p class="text-50 mb-4 text-black-50">Insira seus dados para criar uma conta</p>
    </div>

    <div slot="body" class="mx-1">
        <form class="needs-validation" [formGroup]="formCadastro" (ngSubmit)="cadastrarUser()" novalidate>

            <div class="input-group mb-3">
                <input type="text" id="nome" class="form-control form-control-sm" placeholder="Nome"
                    formControlName="nome" required>
            </div>
            <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
                <div
                    *ngIf="formCadastro.controls['nome'].invalid && (formCadastro.controls['nome'].dirty || formCadastro.controls['nome'].touched)">
                    <ngb-toast *ngIf="formCadastro.controls['nome'].errors?.['required']" header="Cadastro Usuário"
                        class="toast text-danger" [autohide]="true">Campo nome é obrigatório.</ngb-toast>
                </div>
            </div>

            <div class="input-group mb-3">
                <input type="text" id="empresa" class="form-control form-control-sm" placeholder="Empresa"
                    formControlName="empresa">
            </div>
            <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
                <div
                    *ngIf="formCadastro.controls['empresa'].invalid && (formCadastro.controls['empresa'].dirty || formCadastro.controls['empresa'].touched)">
                    <ngb-toast *ngIf="formCadastro.controls['empresa'].errors?.['required']" header="Cadastro Usuário"
                        class="toast text-danger" [autohide]="true">Campo Empresa é obrigatório.</ngb-toast>
                </div>
            </div>

            <div class="input-group mb-3">
                <input type="text" class="form-control form-control-sm" placeholder="CNPJ" formControlName="cnpj">
            </div>
            <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
                <div
                    *ngIf="formCadastro.controls['cnpj'].invalid && (formCadastro.controls['cnpj'].dirty || formCadastro.controls['cnpj'].touched)">
                    <ngb-toast *ngIf="formCadastro.controls['cnpj'].errors?.['required']" header="Cadastro Usuário"
                        class="toast text-danger" [autohide]="true">Campo CNPJ é obrigatório e deve ter 14 dígitos numéricos.</ngb-toast>
                </div>
            </div>

            <div class="input-group mb-3">
                <input type="email" class="form-control form-control-sm" placeholder="Informe seu e-mail"
                    formControlName="email">
            </div>
            <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
                <div
                    *ngIf="formCadastro.controls['email'].invalid && (formCadastro.controls['email'].dirty || formCadastro.controls['email'].touched)">
                    <ngb-toast *ngIf="formCadastro.controls['email'].errors?.['required']" header="Cadastro Usuário"
                        class="toast text-danger" [autohide]="true">Campo e-mail é obrigatório um e-mail válido.</ngb-toast>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-6">
                    <div class="input-group mb-3">
                        <input type="password" class="form-control form-control-sm" placeholder="Informe sua senha"
                            formControlName="password">

                    </div>
                    <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
                        <div
                            *ngIf="formCadastro.controls['password'].invalid && (formCadastro.controls['password'].dirty || formCadastro.controls['password'].touched)">
                            <ngb-toast *ngIf="formCadastro.controls['password'].errors?.['required']" header="Cadastro Usuário"
                                class="toast text-danger" [autohide]="true">Campo senha é obrigatório.
                            </ngb-toast>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="input-group mb-3">
                        <input type="password" class="form-control form-control-sm" placeholder="Confirmar senha"
                            formControlName="confirmpassword">
                    </div>
                </div>
            </div>
            <button class="btn btn-md btn-primary w-100 custom-btn" type="submit">Criar Conta</button>
        </form>
    </div>
    <div slot="footer">
        <p slot="btncriarconta" class="small mb-4 pb-lg-2">Já possui uma conta? <a class="text-50 text-decoration-none"
                routerLink="/login">Realizar login</a></p>
    </div>
</app-box-login>