<app-box-login>
    <div slot="header">
        <h4 class="mb-2">Sign Up</h4>
        <p class="text-50 mb-4 text-black-50">Insira seus dados para criar uma conta</p>
    </div>

    <div slot="body" class="mx-1">
        <form [formGroup]="formCadastro" (ngSubmit)="cadastrarUser()">
            <div class="input-group mb-3">
                <input type="text" class="form-control form-control-sm" placeholder="Nome" formControlName="nome">
            </div>
            <div class="input-group mb-3">
                <input type="text" class="form-control form-control-sm" placeholder="Empresa" formControlName="empresa">
            </div>
            <div class="input-group mb-3">
                <input type="text" class="form-control form-control-sm" placeholder="CNPJ" formControlName="cnpj">
            </div>
            <div class="input-group mb-3">
                <input type="email" class="form-control form-control-sm" placeholder="Informe seu e-mail"
                    formControlName="email">
            </div>

            <div class="row mb-3">
                <div class="col-6">
                    <div class="input-group mb-3">
                        <input type="password" class="form-control form-control-sm" placeholder="Informe sua senha"
                            formControlName="password">
                    </div>
                </div>
                <div class="col-6">
                    <div class="input-group mb-3">
                        <input type="password" class="form-control form-control-sm" placeholder="Confirmar senha"
                            formControlName="confirmpassword">
                    </div>
                </div>
            </div>
            <button class="btn btn-md btn-primary w-100 custom-btn" type="submit">Criar Conta</button>
        </form>
    </div>
    <div slot="footer">
        <p slot="btncriarconta" class="small mb-4 pb-lg-2">Já possui uma conta? <a class="text-50 text-decoration-none"
                routerLink="/login">Realizar login</a></p>
    </div>
</app-box-login>