<div class="main">
    
    <app-box-login>

        <div slot="header">
            <h4 class="mb-2">Sign In</h4>
            <p class="mb-5 text-black-50">Insira suas credenciais para acessar sua conta</p>
        </div>
        <div slot="body">
            <form [formGroup]="formLogin" (ngSubmit)="onSubmit()">
                <div class="form-floating mb-4">
                    <input type="email" class="form-control" id="emaillogin" placeholder="Email" formControlName="email">
                    <label for="emaillogin" class="text-black-50">Informe seu e-mail</label>
                </div>
                <div class="form-floating mb-4">
                    <input type="password" class="form-control" id="passwordlogin" placeholder="Password" formControlName="password">
                    <label for="passwordlogin" class="text-black-50">Informe sua senha</label>
                </div>
                <button class="btn btn-lg btn-primary w-100" type="submit">Entrar</button>
            </form>
        </div>
               
        <div slot="footer">
            <p slot="btnredefinirsenha" class="small mb-4 pb-lg-2">Esqueceu sua senha? <a class="text-50 text-decoration-none" routerLink="/esqueciSenha">Redefinir senha</a></p>
            <p slot="btncadastro" class="small mb-2 pb-lg-2">Ainda não tem uma conta? <a class="text-decoration-none" routerLink="/criarConta">Cadastre-se</a></p>
        </div>  
    
    </app-box-login>
</div>